body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
.movie-card:hover{
  box-shadow:  -5px -5px 15px 5px rgba(0, 90, 255, 0.8), 5px 5px 15px 7px rgba(0, 213, 83, 0.8);
}

.movie-card {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.movie-card img {
  width: 50%;
  border-radius: 8px;
}
.movie-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
}

.movie-info h2 {
  margin: 0;
}

.movie-info p {
  margin: 10px 0;
}

.movie-info button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.movie-info button:hover {
  background-color: #0056b3;
}

.container1{
  display: flex;
  flex-wrap: wrap;
justify-content: flex-end;
}
.container2{
  display: flex;
  flex-wrap: wrap;
justify-content: center;
}
.container3{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container4{
  display: flex;
  
  flex-wrap: wrap;
  align-content: space-between;
}
.container5{
  display: flex;

  align-items: baseline;
}
